.mw-home {
  [data-ur-set="carousel"] {
    // overflow: hidden;
    position: relative;
    height: 290px
  }
  [data-ur-carousel-component="scroll_container"] {
    position: relative;
  }
  [data-ur-carousel-component="item"] {
    float: left;
  }
}
