// colors
$red1: #B03B01; // header color
$blue1: #075899; // link color
$grad1: linear-gradient(#C14102 0, shade(#C14102, 20%) 100%);
$grad2: linear-gradient(top, #852201, #6a1b00);
$box_shadow1: 0px 2px 5px 0px rgba(50, 50, 50, 0.7);
$border1: #560000 solid 1px;
$border2: #ccc solid 1px;
$spacing: 5px 0;
$text_color: white;
$text_shadow: ;
$font_family: "Helvetica";
$h3_size: 1.1em;
$link_color: blue;
$link_color2: white;
$border_radius1: 5px;
$border_radius2: 5px 5px 0 0;
$border_radius3: 0 0 5px 5px;
$padding1: 5px 10px;